html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

    


@font-face {
    font-family: VikendicaDobrodosli;
    src: url(../fonts/AmaticSC-Regular.ttf);
  }

  @font-face {
    font-family: VikendicaNav;
    src: url(../fonts/atomicage-regular.ttf);
  }




p{
    margin: 0;
}

body{
    background-image: none;
    background-color: #555;
}

.container{
    height: 100%;
}



















#hamburger-icon {
    display: none;
    cursor: pointer;
  }

  .hamburger-text{
    display: none;
}


  

  .bar1, .bar2, .bar3 {
    width: 50px;
    height: 7px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }




















#nav-menu{
    height: 100%;
    width: 16.5%;
    background-color: rgba(51, 51, 51, 0.8);
    display: inline-block;
    position: absolute;
    z-index: 100;
    
}

#dobrodosli{
    color: white;
    padding-left: 30px;
    font-family: 'VikendicaDobrodosli';
    font-size: 60px;
    letter-spacing: 3px;
    padding-top: 10px;
    font-style: italic;
    
}
#nav-menu ul{
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: 'VikendicaNav';
}

#nav-menu li{
    color: white;
    list-style-type: none;
    padding-left: 60px;
    font-size: 32px;
    line-height: 2.5em;
}

#nav-menu a{
    text-decoration: none;
}

.li-active{
    background-color: #222;
}
#nav-menu li:hover{
    background-color: #000;
}


.kontakt-form{
    height: 26%;
    background-color: rgba(50, 51, 51, 0.8);
}

#kontakt-info{
    color: white;
    padding-left: 60px;
    font-family: 'VikendicaNav';
    font-size: 32px;
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.info-tel-email{
    color: white;
    padding-left: 30px;
    font-size: 20px;
    line-height: 1.5;
}

.main{
    display: inline-block;
    width: 100%;
    background-color: rgb(20, 20, 20);
    position: absolute;
    height: 95%;
    padding-top: 50px;
}

.galerijanaslov{
    color: white;
    text-align: center;
    font-family: 'Doppio One', sans-serif;
    font-size: 70px;
    font-style: italic;
}

.galerijaslike{
    padding-top: 100px;
}

.main h2{
    font-family: 'Bebas Neue', cursive;
    padding-top: 150px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 60px;
    letter-spacing: 5px;
}

.leto{
    display: inline-block;
    margin-left: 25%;
    background-color: rgb(40, 40, 40);
    width: 500px;
    height: 500px;
    text-align: center;
    background-image: url(../img/Leto/l10.jpg);
    background-size: 500px 500px;
}

.zima{
    display: inline-block;
    margin-left: 7%;
    background-color: rgb(40, 40, 40);
    width: 500px;
    height: 500px;
    text-align: center;
    background-image: url(../img/Zima/z2.jpg);
    background-size: 500px 500px;
}

.leto:hover{
    opacity: 0.6;
}

.zima:hover{
    opacity: 0.6;
}

.galthumbnail{
    width: 200px;
}
















/* RESPONSIVE */


@media only screen and (max-width: 1000px) {
    #nav-menu{
        display: none;
    }

    .responsive-part{
        display: block;
    }
    
    
    #hamburger-icon {
        display: inline-block;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 10px;
      }
    
      .hamburger-text{
          display: inline-block;
      }
    
      .hamburger-text p{
          color: white;
          font-size: 40px;
          font-family: 'Doppio One', sans-serif;
      }
    
   
    
    #dobrodosli{
        display: none;
    }
    
    .kontakt-form{
        display: none;
    }
    
    #nav-menu{
        height: 400px;
        width: 100%;
        position: absolute;
        z-index: 100;
        background-color: rgba(51, 51, 51, 1);
    }
   .main{
    width: 100%;
    height: 120%;
   }

   .main h2{
    padding-top: 100px;
   }

   .leto{
    margin-left: 10%;
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
   }

   .zima{
    margin-left: 10%;
    width: 300px;
    height: 300px;
   }



    }

@media only screen and (min-width: 1000px) and (max-width: 1700px) {

        #dobrodosli{
          font-size: 30px;
        }
      
        #nav-menu li{
          padding-left: 20px;
        }
      
        #kontakt-info {
          padding-left: 20px;
        }
      
        .info-tel-email{
          padding-left: 10px;
          font-size: 14px;
        }
      
        .leto{
            margin-left: 18%;
            width: 380px;
            height: 380px;
        }

        .zima{
            margin-left: 3%;
            width: 380px;
            height: 380px;
        }

      }
