html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

    


@font-face {
    font-family: VikendicaDobrodosli;
    src: url(../fonts/AmaticSC-Regular.ttf);
  }

  @font-face {
    font-family: VikendicaNav;
    src: url(../fonts/atomicage-regular.ttf);
  }




p{
    margin: 0;
}

body{
    background-image: url('../img/pozadina.jpg');
    background-repeat: no-repeat;
}

.container{
    height: 100%;
}














#hamburger-icon {
    display: none;
    cursor: pointer;
  }

  .hamburger-text{
    display: none;
}


  

  .bar1, .bar2, .bar3 {
    width: 50px;
    height: 7px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }












#nav-menu{
    height: 100%;
    width: 16.3%;
    background-color: rgba(51, 51, 51, 0.9);
    display: inline-block;
    
}

#dobrodosli{
    color: white;
    padding-left: 30px;
    font-family: 'VikendicaDobrodosli';
    font-size: 60px;
    letter-spacing: 3px;
    padding-top: 10px;
    font-style: italic;
    
}
#nav-menu ul{
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: 'VikendicaNav';
}

#nav-menu li{
    color: white;
    list-style-type: none;
    padding-left: 60px;
    font-size: 32px;
    line-height: 2.5em;
}

#nav-menu a{
    text-decoration: none;
}

.li-active{
    background-color: #222;
}
#nav-menu li:hover{
    background-color: #000;
}


.kontakt-form{
    height: 26%;
    background-color: rgba(50, 51, 51, 0.8);
}

#kontakt-info{
    color: white;
    padding-left: 60px;
    font-family: 'VikendicaNav';
    font-size: 32px;
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.info-tel-email{
    color: white;
    padding-left: 30px;
    font-size: 20px;
    line-height: 1.5;
}

.main{
    display: inline-block;
    position: absolute;
    padding-top: 7%;
    font-family: 'Doppio One', sans-serif;
    height: 85%;
}

.glavna-naslov{
   text-align: center;
   font-size: 80px;
   color: rgb(180, 35, 35);
   text-shadow: 4px 4px 10px #FFF;
}

.vest{
    display: inline-block;
    background-color: rgb(236, 229, 229);
    width: 20%;
    height: 200px;
    margin-left: 10%;
    margin-top: 2%;
    padding: 10px;
    border: 5px ridge rgb(122, 61, 61);
    border-radius: 2%;
}

.vest-date{
    text-align: right;
}

.vest-link{
    text-decoration: none;
    color: black;
}

.vest-opis{
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 17px;
}

.saznajte-vise{
   margin-left: 200px;
}









/* RESPONSIVE */


@media only screen and (max-width: 1000px) {
#nav-menu{
    display: none;
}

.responsive-part{
    display: block;
}

#hamburger-icon {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
  }

  .hamburger-text{
      display: inline-block;
  }

  .hamburger-text p{
      color: white;
      font-size: 40px;
      font-family: 'Doppio One', sans-serif;
  }

.vest{
    display: block;
    width: 80%;
    height: 230px;
    margin-left: 7%;
}

.vest-opis{
  
    padding-bottom: 10px;
    
}

.saznajte-vise{
    margin-left: 10%;
}


#dobrodosli{
    display: none;
}

.kontakt-form{
    display: none;
}

#nav-menu{
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(51, 51, 51, 1);
}
}


@media only screen and (min-width: 1000px) and (max-width: 1700px) {

  #dobrodosli{
    font-size: 30px;
  }

  #nav-menu li{
    padding-left: 20px;
  }

  #kontakt-info {
    padding-left: 20px;
  }

  .info-tel-email{
    padding-left: 10px;
    font-size: 14px;
  }

  .vest{
    height: 250px;
  }

  .saznajte-vise{
    margin-left: 50px;
  }

}
